.ripple {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  background: rgba(99, 102, 241, 0.3); /* indigo-500 w/ opacity */
  animation: ripple-animation 0.6s ease-out;
  transform: scale(0);
  z-index: 0;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.rotate-animation {
  animation: rotateY 1s ease-in-out;
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
